.App{
  width: 800px;
  margin: 0 auto;
}
.input{
  padding-top: 20px;
}
.buttonDeletAll{
  margin-left: 67px;
}
.buttons{
  margin-top: 20px;
}
li p {
  margin: 5px 0;
}
li{
  background-color: #443030;
  color: #fff;
padding: 20px;
border: 2px solid #fff;
}
ol{
  padding: 0px;
}
button{
  background-color: #002f95;
  color: #fff;
}
h1{
  margin-bottom: 0px;
}